doctype html
html
	head
		meta(charset='UTF-8')
		title Pug-logged
		style
			include ./style.css
	body
		div.content
			include ./header.pug
			div.container
				h2 Hello User!
				h3 You can start your adventure
		include ./footer.pug